{% load staticfiles %}
{#{% load notifications_tags %}#}
{#{% register_notify_callbacks callbacks='fill_notification_list,fill_notification_badge' %}#}
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
    {% csrf_token %}
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
                </li>
            {% if request.user.is_authenticated %}
                <li class="nav-item navbar_select_li">
                    <span class="cwp_title">Aktuelles Projekt</span>
                    <div class="navbar_select">
                        <div class="form-group navbar_select_wrap">
                            <select class="form-control select2" id="current-project"
                                        data-placeholder="Select a Project" style="width: 100%;">
                                {% for project in request.session.current_projects %}
                                    <option value="{{ project.id }}">{{ project.name|title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </li>
            {% endif %}
            </ul>
            <!-- Right navbar links -->
            {% if request.user.is_authenticated %}
                <ul class="navbar-nav ml-auto">
                    <!-- Notifications Dropdown Menu -->
                    <li class="nav-item dropdown" id="notification-navbar">
                        <a class="nav-link" data-toggle="dropdown" href="#">
                            <i class="fas fa-bell fa-2x"></i>
                            <span class="badge badge-warning navbar-badge"><span class="live_notify_badge"></span></span>
                        </a>

                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                            <span class="dropdown-item dropdown-header"><span class="live_notify_badge"></span> Benachrichtigung </span>
                            <div class="live_notify_list"></div>
                            <div class="dropdown-divider"></div>
                            <div class="clear" style="overflow: hidden; display: inline-flex;">
                                <a href="{% url 'get-all-notifications' %}" class="dropdown-item dropdown-footer float-left" style="width: 50%;">Alle Ansehen</a>
                                <a class="dropdown-item dropdown-footer mark-all-read float-right" style="width: 50%;cursor: pointer;">Mark all as read</a>
                            </div>
                        </div>

                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="#" style="padding-top: 0px;">
                            <div class="image top_bar_image">
                                <img src="{% if request.user.avatar %}{{ request.user.avatar.url }}{% else %}{% static "assets/images/avatar5.png" %}{% endif %}" class="img-circle elevation-2" alt="User Image">
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="#" class="dropdown-item">
                                {{ request.user.first_name }} {{ request.user.last_name }}
                            </a>
                            <div class="dropdown-divider"></div>

                            <a href="{% url 'profile-update' %}" class="dropdown-item">
                                <i class="fa fa-users mr-2"></i> Profil
                            </a>
                            <a href="{% url 'change-password' %}" class="dropdown-item">
                                <i class="fa fa-key mr-2"></i> Passwort ändern
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="{% url 'logout' %}" class="dropdown-item">
                                <i class="fa fa-sign-out-alt mr-2"></i> Logout
                            </a>
                        </div>
                    </li>
                </ul>
            {% endif %}
        </nav>
        <!-- /.navbar -->
        <img src="{% static 'assets/images/loader.GIF' %}" class="loader" alt=""/>