<!DOCTYPE html>
<html>
<link href="https://fonts.googleapis.com/css?family=Raleway:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic" rel="stylesheet">
<body style="background: #0A2E3E;padding: 50px 50px;font-family: 'Roboto', sans-serif;font-size: 16px;color: #434244;">
    <div style="margin:0px auto;background: #fff;padding: 30px 50px;min-height: 200px;max-width:25em;border-radius:15px;">
    <table>
        <tbody>
            <tr>
                <td>
                    <img src="">
                </td>
            </tr>
            <tr>
                <td style="font-size: 1.50em;font-weight:600;padding: 15px 0px;">
                    Congratulations {{ user_full_name }}
                </td>
            </tr>
            <tr>
                <td style="padding-bottom:15px;">
                    You have been registered in {{ project_title }}.
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Your username:</strong>
                </td>
            </tr>
            <tr>
                <td style="font-size:1.75em;color:#0A2E3E;">
                    {{ username }}
                </td>
            </tr>
            <tr>
                <td style="padding-top:15px;">
                    <strong>Your password is:</strong>
                </td>
            </tr>
            <tr>
                <td style="font-size:1.75em;color:#0A2E3E;">
                    {{ password }}
                </td>
            </tr>
            <tr>
                <td style="padding-top:15px;padding-bottom:30px;">
                        For more details <a href="{{ base_url }}" style="color: #2982FF;font-weight: 700;text-decoration: none;">{{ project_title }}</a>
                </td>
            </tr>
            <tr>
                <td style="border-bottom:1px solid #434244"></td>
            </tr>
            <tr>
                <td style="padding-top:5px;">
                    <span>Best Regards,</span>
                    <strong style="display:block;">{{ project_title }} Support Team</strong>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
</body>
</html>