{% for task in tasks %}
    <a href="{% url 'task-details' task_id=task.id %}" class="task_title">
        <div class="col-md-12 task_wrap">
            {{ task.building_component.component.name|title }}
            <div class="dropdown-divider"></div>
            <p>{{ task.building_component.description }}</p>
            <div class="dropdown-divider"></div>
    </a>
            <div class="task_detail_bottom">
                <div class="task_detail_bottom_wrap celarfix">
                    <div class="task_detail_description">
                        <p class="mb-0"><label for="">Letztes Update: </label> {{ task.updated_at|date:'d-m-Y' }}</p>
                    </div>
                    
                    <div class="task_detail_description" style="display: inline-flex; align-items: center;">
                        <label for="">Status:</label>
                        <select class="form-control select-status" id="task-status-list" task-id="{{task.id}}" task-value="{{ task.status }}"
                            data-placeholder="Select Status">
                            <option value="to_do" {% if task.status == 'to_do' %}selected{% endif %}>Nicht Begonnen
                            </option>
                            <option value="in_progress" {% if task.status == 'in_progress' %}selected{% endif %}>In Bearbeitung
                            </option>
                            <option value="done" {% if task.status == 'done' %}selected{% endif %}>Fertig
                            </option>
                        </select>
                    </div>
                    <div class="task_detail_description">
                        <p class="mb-0"><label for="">Update Von: </label> {{ task.updated_by.first_name }} {{ task.updated_by.last_name }}</p>
                    </div>
                {% if task.comment %}
                    <div class="last_comment">
                        <blockquote class="blockquote">
                            <p class="mb-0">{{ task.comment.text }}</p>
                            <footer class="blockquote-footer">{{ task.comment.user.first_name }} {{ task.comment.user.last_name }}</footer>
{#                             <cite title="Source Title">Source Title</cite>#}
                        </blockquote>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
{% endfor %}

