{% extends "layout/main.html" %}
{% block content %}
{% load staticfiles %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <!-- /.col -->
                <div class="col-sm-12 ">
                    <div class="bradcrumb_container clearfix">
                        <div class="brad_Wrap pull-left">
                            <ol class="breadcrumb ">
                                <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                                <li class="breadcrumb-item active">Hauser</li>
                            </ol>
                        </div>
                        <div class="brad_info pull-right">
                            <ul class="detail_breadcrumb">
                                <li>{{ request.session.active_project.name|title }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card data_table_card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm col-6">
                                    <h3 class="card-title">Hauser</h3>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body building_list task-card">
                            <nav>
                                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="current-building-list" data-toggle="tab" href="#current-building-list-tab"
                                       role="tab" aria-controls="nav-task" aria-selected="false">Hauser</a>
                                    <a class="nav-item nav-link" id="current-project-plan-list" data-toggle="tab" href="#current-plan-list-tab"
                                       role="tab" aria-controls="nav-task" aria-selected="false">Pläne</a>
                                </div>
                            </nav>
                            <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="current-building-list-tab" role="tabpanel"
                                     aria-labelledby="nav-task-tab">
                                    <div class="row">
                                        {% for building in buildings %}
                                            <div class="col-md-3">
                                                <div class="building_wrap">
                                                    <a href="{% url 'building-tasks' building_id=building.id %}">
                                                        <div class="card building_list_card">
                                                            <div class="card-body">
                                                                <div class="icon_wrap">
                                                                    <i class="fa fa-home"></i>
                                                                </div>
                                                                <h5>{{ building.display_number }}</h5>
                                                            </div>
                                                            <div class="card-footer">
                                                                <div class="bd_cardfooter bd_card_footer_text">
                                                                    <p><label for="">Wohnungen : </label> {{ building.total_flats }}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="tab-pane fade show" id="current-plan-list-tab" role="tabpanel"
                                     aria-labelledby="nav-task-tab">
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.col-lg-6 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{% endblock %}