{% extends "layout/main.html" %}
{% block content %}
    {% load staticfiles %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <!-- /.col -->
                <div class="col-sm-12 ">
                    <div class="bradcrumb_container clearfix">
                        <div class="brad_Wrap pull-left">
                            <ol class="breadcrumb ">
                                <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                                <li class="breadcrumb-item active">Notifications</li>
                            </ol>
                        </div>
                        <div class="brad_info pull-right">
                            <ul class="detail_breadcrumb">
{#                                <li>Notifications</li>#}
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card data_table_card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm">
                                    <h3 class="card-title">Notifications</h3>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="notificaiton_wrap">
                                <ul class="notificaton_ul">
                                    {% include 'profiles/notification_list.html' %}
                                </ul>
                                {% if more_notifications %}
                                    <div class="col-md-12 text-center">
                                        <button id="show-more-notifications" class="btn btn-send btn-v-n btn-primary btn-lg"
                                                data-page-number="2">More Notifications
                                        </button>
                                    </div>
                                {% endif %}
                            </div>

                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.col-lg-6 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{% endblock %}