{% extends "layout/main.html" %}
{% block content %}
    {% load staticfiles %}
    {% load i18n %}
    {% block extra_head %}
        <script type="text/javascript">
            var building_id = window.location.pathname.split("/")[2];
            var FLAT_LIST_JSON_URL = '{% url "flatList" %}?building_id=' + building_id;
            // translations for datatables
        </script>
        <script src="{% static 'assets/javascripts/datatables/flat_datatable.js' %}"></script>
    {% endblock %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <input type="hidden" value="{{ show_entries }}" id="show_entries">
                <input type="hidden" value="{{ sorted_column }}" id="sorted_column_stand">
                <input type="hidden" value="{{ sorting_order }}" id="sorting_order_stand">
                <!-- /.col -->
                <div class="col-sm-12 ">
                    <div class="bradcrumb_container clearfix">
                        <div class="brad_Wrap pull-left">
                            <ol class="breadcrumb ">
                                <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                                <li class="breadcrumb-item active">Wohnung</li>
                            </ol>
                        </div>
                        <div class="brad_info pull-right">
                            <ul class="detail_breadcrumb">
                                <li>{{ building.project.name|title }}</li>
                                <li>{{ building.hause_number|title }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card data_table_card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm col-6">
                                    <h3 class="card-title">Wohnung</h3>
                                </div>
                                <div class="col-sm col-6 text-right">
                                    <a data-toggle="tooltip" data-placement="top" title="Add Wohnung"
                                       href="{% url 'flats-add' building_id=building_id %}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="flats-table" class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Wohnung Number</th>
                                        <th>Client Name</th>
                                        <th>Client Email</th>
                                        <th>Client Telephone</th>
                                        <th style="width: 200px;">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.col-lg-6 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->


    </div>
    <!-- /.content-wrapper -->
{% endblock %}