{% extends "layout/login.html" %}
{% block title %}Supplementer :: Reset Password{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Insert your email</p>
            {% if msg %}
                <p class="alert {% if success %}alert-success{% else %}alert-danger{% endif %}">{{ msg }}</p>
            {% endif %}
            <form class ="form-reset-your-password" method="post">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="email" class="form-control" id="email" name="email"  placeholder="Email">
                    <div class="input-group-append">
                      <span class="fa fa-envelope input-group-text"></span>
                    </div>
                </div>
                <div class="row">
                    <!-- /.col -->
                    <div class="col-12 col-sm-6">
                      <button type="submit" id="reset-password" class="btn btn-primary btn-block btn-flat mb-2">Reset Password</button>
                    </div>
                    <div class="col-12 col-sm-6 forget_pass_link">
                      <a href="{% url 'login' %}"  class="pull-right need-help">Login</a><span class="clearfix"></span>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <p class="mb-1">

            </p>
        </div>
    </div>
    <script>
        var site_url = "http://www.frprojektman.de";
        var api_url = site_url + "/api";
        $(function () {
            $(".form-reset-your-password").validate({
                ignore: '.ignore',
                focusInvalid: true,
                rules: {
                    'email': {
                        required: true
                    }
                }
            });
            $('.form-reset-your-password').on('submit', function () {
                if ($(this).valid()) {
                    requestResetPassword();
                    {#return true;#}
                }
                return false;
            });
        });

        function requestResetPassword(){
            var $button = $('#reset-password');
            var csrfToken = $('input[name=csrfmiddlewaretoken]').val();
            var data = {
                'email': $('#email').val(),
                'csrfmiddlewaretoken': csrfToken
            };
            $button.prop('disabled',true);
            $.ajax({
                url: api_url+"/forget-password/",
                type: 'POST',
                data: JSON.stringify(data),
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Content-Type", "application/json");
                },
                success: function (responseText, xhr) {
                    $button.prop('disabled',false);
                    var response = responseText;
                    $.growl.notice({message: response.message});
                    var login_url = site_url + "/login/";
                    setTimeout(function(){location.href=login_url} , 2000);
                },
                error: function (e) {
                    $button.prop('disabled',false);
                    var response = e.responseJSON;
                    if (response["message"]) {
                        $.growl.error({message: response["message"]});
                    } else {
                        for (var key in response) {
                            var label = '<label for="' + key + '" class="error" style="display: inline-block;">' + response[key] + '</label>';
                            $('#' + key).removeClass('valid');
                            $('#' + key).addClass('error');
                            $('#' + key).after(label);
                        }
                    }
                }
            });
        }
    </script>
{% endblock %}
