{% extends "layout/login.html" %}
{% block title %}Supplementer :: Change Password{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-body login-card-body">
            {% if message %}
                <p class="alert alert-danger">{{ message }}</p>
            {% else %}
                <form class="form-reset-password" action="{% url 'reset-password' %}" method="post">
                    {% csrf_token %}
                    <input class="form-control" type="hidden" value="{{ hash_code }}" name="key">
                    <input type="hidden" value="{{ user_id }}" name="uid">

                    <div class="input-group mb-3">
                        <input type="password" class="form-control" name="password"
                               placeholder="Password" autofocus>
                        <div class="input-group-append">
                          <span class="fa fa-lock input-group-text"></span>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" name="confirm_password" class="form-control" placeholder="Confirm Password">
                        <div class="input-group-append">
                          <span class="fa fa-lock input-group-text"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <button type="submit" id="reset-user-password" class="btn btn-primary btn-block btn-flat">Change Password</button>
                        </div>
                        <div class="col-12 col-sm-6 forget_pass_link">
                            <a href="{% url 'login' %}"  class="pull-right need-help">Login</a><span class="clearfix"></span>
                        </div>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
    <script>
        $(function () {
            $(".form-reset-password").validate({
                ignore: '.ignore',
                focusInvalid: true,
                rules: {
                    'password': {
                        required: true,
                        minlength: 6
                    },
                    'confirm_password': {
                        required: true,
                        minlength: 6,
                        equalTo: 'input[name="password"]'
                    }
                }
            });
            $('.form-reset-password').on('submit', function () {
                if ($(this).valid()) {
                    return true;
                }
                return false;
            });
        });
    </script>
{% endblock %}